/mask.png
/jpeg/
/mask/B_IMG_0621 weldnut.png
/mask/B_IMG_0622 weldnut.png
/mask/B_IMG_0623 weldnut.png
/mask/B_IMG_0624 weldnut.png
/mask/B_IMG_0625 weldnut.png
/mask/B_IMG_0626 weldnut.png
/mask/B_IMG_0627 weldnut.png
/mask/B_IMG_0628 weldnut.png
/masked/
/mov/
/png/
/vis/